body {
background: lightgray;
}
.frame {
	margin: 15px auto;
	height:800px;
	width: 600px;
}
.top {
	height: 30%;
	padding: 10px;
	margin: 10px 0px 30px 0px;
	background: white;
	box-shadow: 5px 5px 5px black;

}
.ckHolder {
	position: relative;
	padding: 20px;
	width: 90%;
	margin: 50px auto;
	
}
.click {
	height: 50px;
	width: 100px;
	left: 5px;
	bottom: 5px;
	padding:5px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-family: sans-serif;
}
.click.red {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.click.blue {
	position: absolute;
	bottom: 10px;
	left: 150px;
}
.red {
	background: #D0021B;
}
.blue {
	background: #4A90E2;
}
/*Top above, Bottoms below!*/
.bottom {
	height: 60%;
	padding: 10px;
	margin: 20px 0px 20px 0px;
	background: white;
	box-shadow: 5px 5px 5px black;
}
.imgHolder {
	height: 55%;
	width: 90%;
	margin: 0 auto;
	background: #4A4A4A;
	display: flex;
	align-items:center;
}
.insertImg {
	margin: 50px auto;
	color: white;
	font-size: 25px;
	font-family: sans-serif;
	text-align: center;
}
.text {
	margin:20px;
	font-family: sans-serif;
}
/*Footer info below*/
footer {
	height: 80px;
	width:100%;
	background: #333333;
	display: flex;
	align-items: center;
	justify-content:flex-end;
}
a {
	margin: 15px;
	color: #ffffff;
	font-size: 25px;
	font-family: sans-serif;
	text-decoration: none;
}